@font-face {
    font-family: runescape;
    src: url(../media/font.ttf);
}
body {
    background-image: url('../media/background.jpg');
    background-size: 100%;
    margin: 0;
    padding: 0;
}

.logo {
    width: 30%;
    height: auto;
    padding: 10px;
}

.col-enemy {
    background-image: url('../media/background2.jpg');
    background-size: 100% 100%;
    margin: 0;
    padding: 0; 
} 

.col {
    border: 0px solid black;
}

.viewport {
    display: flex;
    justify-content: center;
    padding-top: -20%;
}

canvas {
    border: 0px solid #000000;
    background-color: #306e9dd6;
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.containerVidas {
    min-height: 100px;
    min-width: 100px;
    display:flex; /* declaras que vas a usar flexbox*/
    justify-content: center; /* centrado horizontal*/
    align-items: center; /* centrado vertical */
}

.vidasP1 {
    border: 2px solid #000000;
    min-height: 50px;
    background-color: rgb(255, 251, 32);
}

.vidasP2 {
    border: 2px solid #000000;
    min-height: 50px;
    background-color: rgb(47, 68, 255);
}

.centrar {
    display:flex; /* declaras que vas a usar flexbox*/
    justify-content: center; /* centrado horizontal*/
    align-items: center; /* centrado vertical */
}

.img-esquina {
    position: fixed;
    top: 0;
    width: 10%; /* ajusta el tamaño según quieras */
    height: auto;
    z-index: 1000;
}

.izquierda {
    left: 0;
}

.derecha {
    right: 0;
}

.textoUI {
    font-family: runescape;
    font-size: x-large;
}


