.col {
    border: 1px solid black;
}

.viewport {
    display: flex;
    justify-content: center;
    padding-top: -20%;
}

canvas {
    border: 1px solid #000000;
    background-color: #71aaff83;
    width: 100%;
    height: auto;
}

.containerVidas {
    min-height: 100px;
    min-width: 100px;
    display:flex; /* declaras que vas a usar flexbox*/
    justify-content: center; /* centrado horizontal*/
    align-items: center; /* centrado vertical */
}

.vidasP1 {
    min-height: 100xp;
    background-color: rgb(255, 251, 32);
}

.vidasP2 {
    min-height: 100xp;
    background-color: rgb(47, 68, 255);
}

.centrar {
    display:flex; /* declaras que vas a usar flexbox*/
    justify-content: center; /* centrado horizontal*/
    align-items: center; /* centrado vertical */
}

