.row {
    max-width: 120%;
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    box-sizing: border-box; /* Evita que paddings y bordes afecten el ancho */
}

.col {
    text-align: left;
    margin: 0 !important;
    flex-grow: 3; /* Esto hace que las columnas centrales ocupen más espacio */
    flex-basis: 0;
    box-sizing: border-box; /* Evita que paddings y bordes afecten el ancho */
    width: 150%;
}
